:root{
    --fuenteEncabezado: "PT Sans", sans-serif;
    --fuenteparrafos: "Open Sans", sans-serif;
    --primario: #784d3c;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* Facilitar las medidas 1rem = 10px */
}

*,*:before, *:after {
    box-sizing: inherit; /* Mejorar Responsive */
}

body{
    font-family: var(--fuenteparrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/*Estilos Globales*/
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;    
}
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--fuenteparrafos);
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}

/*Estilos Utilitarios (helpers - ayudantes) */
.no-margin{
    margin: 0; /* Distancia entre un objeto y otro */
}
.no-padding{
    padding: 0; /* Distancia entre un objeto y su borde */
}
.centrar-texto{
    text-align: center;
}

.header{
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-size: cover; /* Utilizar todo el tamaño disponible */
    background-repeat: no-repeat; /* No repetir la imagen */
    background-position: center center; /* centrar izq-der arr-abj */
}
.header__texto{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 5rem;
}
.logo {
    color: rgb(255, 255, 255);
}
.logo__nombre{
    font-weight: 400;
}
.logo__bold{        
    font-weight: 700;
}
.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
}
/*Estilo del Blog*/
.entrada {
    border-bottom: 1px solid #8a8a8a;
    margin-bottom: 2rem;
}
.entrada:last-of-type{ /*Aplica solo al ultimo elemento*/
    border: none;
    margin-bottom: 0;
}
.boton {
    display: block;
    font-family: var(--fuenteEncabezado);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
}
.boton--primario{
    background-color: rgb(0, 0, 0);
}

/*Estilos para la seccion lateral - cursos*/
.boton--secundario {
    background-color: var(--primario);
}
.cursos{
    list-style: none;
}
.widget-curso {
    border-bottom: 1px solid #8a8a8a;
    margin-bottom: 2rem;
}
.widget-curso:last-of-type{ /*Aplica solo al ultimo elemento*/
    border: none;
    margin-bottom: 0;
}
.widget-curso__label{
    font-family: var(--fuenteEncabezado);
    font-weight: 700;

}
.widget-curso__info{
    font-weight: 400;
}   
.widget-curso__label, .widget-curso__info{
    font-size: 2rem;
}


@media (min-width: 768px) { /*Ajusta los tamaños despues de los 768px*/
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navegacion{
        display: flex;
        gap: 2rem;
    }
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
    .boton{
        display: inline-block;
    }
}
